{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans "Sign Up" %}
{% endblock %}

{% block content %}
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">{% trans "Sign Up" %}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <form action="#" method="post" class="login-form">
              {% csrf_token %}
              {{ form|crispy }}

              <div class="form-group d-flex align-items-center">
                <div class="w-100">
                  <label class="checkbox-wrap checkbox-primary mb-0">
                    Save Password<input type="checkbox" checked />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-100 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary rounded submit">{% trans "Sign Up" %}</button>
                </div>
              </div>
              <div class="form-group mt-4">
                <div class="w-100 text-center">
                  <p class="mb-1">
                    {% trans "Do you have an account?" %} <a href="{% url "account_login" %}">{% trans "Login" %}</a>
                  </p>
                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
