{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_template_tags %}
{% load humanize %}

{% block title %}
  compare
{% endblock %}

{% block content %}
  {% if compare %}
    <div class="tab-pane text-right" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
      <div class="table-content table-responsive">
        <table class="table shop_attributes">
          {% for item in compare %}
            <tbody>
              <tr>
                <th>
                  {% trans 'title' %}
                </th>
                <td>
                  {{ item.product_obj.title }}  <td class="product-thumbnail text-left">
                    <img src="{{ item.product_obj.image.url }}" alt="Product Thumnail" />
                  </td>
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'weight' %}
                </th>
                <td>
                  {{ item.product_obj.weight }} {% trans 'gr' %}
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'color' %}
                </th>
                <td>
                  <a href="shop-sidebar.html">{{ item.product_obj.color }}</a>
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'ram' %}
                </th>
                <td>
                  <a href="shop-sidebar.html">{{ item.product_obj.ram }}</a>
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'simcard' %}
                </th>
                <td>
                  <a href="shop-sidebar.html">{{ item.product_obj.simcard }}</a>
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'operating system' %}
                </th>
                <td>
                  <a href="shop-sidebar.html">{{ item.product_obj.operating_system }}</a>
                </td>
              </tr>
              <tr>
                <th>
                  {% trans 'price' %}
                </th>
                <td>
                  <a href="shop-sidebar.html">{{ item.product_obj.price|intcomma:False|translate_number}}</a>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
  {% include 'cart_sidebar.html' %}

{% endblock %}
