{% extends '_base.html' %}
{% load humanize %}
{% load persian_template_tags %}
{% load i18n %}

{% block title %}
  {% trans "Order" %}
{% endblock %}

{% block content %}
  {% include 'top_header.html' %}
  <!-- Main Content Wrapper Start -->
  <div class="main-content-wrapper">
    <div class="page-content-inner">
      <div class="container">
        <div class="row pt--50 pt-md--40 pt-sm--20"></div>
        <div class="row pb--80 pb-md--60 pb-sm--40">
          <!-- Checkout Area Start -->
          <div class="col-lg-6">
            <div class="checkout-title mt--10">
              <h2>{% trans "product detail" %}</h2>
            </div>

            <div class="checkout-form">
              <form action="" method="POST" class="form form--checkout">
                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">{{ form.errors }}</div>
                {% endif %}

                <div class="form-row mb--20">
                  <div class="form__group col-md-6 mb-sm--30">
                    <label for="billing_fname" class="form__label form__label--2">{% trans "firstname" %}<span class="required">*</span></label>
                    <input type="text" name="first_name" id="billing_fname" class="form__input form__input--2" />
                  </div>
                  <div class="form__group col-md-6">
                    <label for="billing_lname" class="form__label form__label--2">{% trans "lastname" %}<span class="required">*</span></label>
                    <input type="text" name="last_name" id="billing_lname" class="form__input form__input--2" />
                  </div>
                </div>
                <div class="form-row mb--20">
                  <div class="form__group col-12">
                    <label for="billing_company" class="form__label form__label--2">{% trans "address" %}</label>
                    <input type="text" name="address" id="billing_company" class="form__input form__input--2" />
                  </div>
                </div>
                <div class="form-row mb--20">
                  <div class="form__group col-12">
                    <label for="billing_phone" class="form__label form__label--2">{% trans "phone_number" %}<span class="required">*</span></label>
                    <input type="text" name="phone_Number" id="billing_phone" class="form__input form__input--2" />
                  </div>
                </div>

                <div class="form-row">
                  <div class="form__group col-12">
                    <label for="orderNotes" class="form__label form__label--2">{% trans "your notes" %}</label>
                    <textarea class="form__input form__input--2 form__input--textarea" id="orderNotes" name="order_notes" placeholder="{% trans "If you have some notes please write here.Otherwise insert empty" %}"></textarea>
                  </div>
                </div>
                {% if user.is_authenticated %}
                  <button class="btn" type="submit">{% trans "Send" %}</button>
                  {% else %}
                  <h3>{% trans "You must first login" %}</h3>
                  <a class="btn btn-primary" href="{% url "account_login" %}">{% trans "Login" %}</a>
                {% endif %}
              </form>
            </div>
          </div>
          <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
            <div class="order-details">
              <div class="checkout-title mt--10">
                <h2>{% trans "your order" %}</h2>
              </div>
              <div class="table-content table-responsive mb--30">
                <table class="table order-table order-table-2">
                  <thead>
                    <tr>
                      <th>{% trans "product" %}</th>
                      <th class="text-right">{% trans "total_price" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart %}
                      <tr>
                        <th>
                          {{ item.product_obj.title }}
                          <strong><span>&#10005;</span>{{ item.quantity|translate_number }}</strong>
                        </th>
                        <td class="text-right">{{ item.product_obj.price|intcomma:False|translate_number }} {% trans "$" %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr class="cart-subtotal">
                      <th>{% trans "total" %}</th>
                      <td class="text-right">{{ cart.get_total_price|intcomma:False|translate_number }} {% trans "$" %}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="checkout-payment">
                <h2 class="py-5">{% trans "payment way" %}</h2>
                <form action="#" class="payment-form">
                  <div class="payment-group mb--10">
                    <div class="payment-radio">
                      <input type="radio" value="bank" name="payment-method" id="bank" checked />
                      <label class="payment-label" for="cheque">{% trans "Zarin Pal online portal" %}</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Checkout Area End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content Wrapper Start -->
  {% include 'cart_sidebar.html' %}
{% endblock %}
